*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Main Footer */
body{
    min-width: 1900px;
}
header{
    background-color: #DADADA;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
}

main{
    background-color: #000000;
}

footer{
    background-color: #222326;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #DCDCDC;
    justify-content: space-between;
}
/* /Header Main Footer */


/* Contenuto Header */

.cont_pallini{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 43%;
}

.red, .yellow, .green{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 3px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.cont_zoomid{
    display: flex;
    align-items: center;
}

.censura{
    width: 160px;
    background-color: #A5A5A5;
    border: 5px solid #FFFFFF;
    height: 29px;
    margin-left: 5px;
}
/* /Contenuto Header */



/* Contenuto Main */

.conteiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cont_freccia_sinistra, .cont_freccia_destra{
    color: white;
    margin: auto;
}

.cont_freccia_sinistra > i{
    font-size: 50px;
    color: #7F7F7F;
}

.cont_freccia_destra > i{
    font-size: 50px;
    color: #39BBFC;
}

.cont_persone{
    display: flex;
    width: 95%;
    margin: auto;
    height: 100%;
    padding: 3em 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.persona{
    width: 19.6%;
    margin: 2px 0;
    position: relative;
    height: 175px;
}

.persona > img {
    width: 100%;
    height: 170px;
}

.testo{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0000006e;
    padding: 5px;
}

.bordo{
    border: 3px solid yellow;
}
/* /Contenuto Main */



/* /Contenuto Footer */

.comandi, .utility{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    justify-content: space-around;
}

.comandi{
    width: 13%;
}

.icone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone > i{
    font-size: 30px;
    padding-bottom: 2px;
}

.utility{
    width: 50%;
}

.uscita{
    background-color: #4A4B4D;
    color: #EA5450;
    padding: 25px;
}

.uscita > p {
    font-size: 20px;
}
/* Contenuto Footer */