*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Main Footer */

header{
    background-color: #DADADA;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
}
/* /Header Main Footer */


/* Contenuto Header */

.cont_pallini{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 43%;
}

.red, .yellow, .green{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 3px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.cont_zoomid{
    display: flex;
    align-items: center;
}

.censura{
    width: 160px;
    background-color: #A5A5A5;
    border: 5px solid #FFFFFF;
    height: 29px;
    margin-left: 5px;
}